body{
    /* background-color: cornflowerblue; */
    text-align: center;
    /* font-family: sans-serif; */

}   
.title{
    font-size: 24px;
    font-family: sans-serif;
    color: cornflowerblue;
}
.goal{
    font-size: 17px;
    color: cornflowerblue;
}


.glass{
    border: 5px solid black;
    height: 350px;
    width: 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    margin-top: 20px;
    position: relative;
}

.water{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: cornflowerblue;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 0%;
}
.waterPer{
    position: absolute;
    bottom: 20px;
    left: 50px;
    font-size: 27px;
    font-weight: 900;
    font-family: cursive;
    color: white;
    

}
.totalWater{
    color: cornflowerblue;
    font-family: cursive;
    font-weight: 900;
    font-size: 27px;
    position: absolute;
    left: 50px;
    top: 20px;
    z-index: 10;

}
.container{
    display: flex;
    justify-content: center;
}
p{
    color: cornflowerblue;
    font-size: 15px;
}
.btn-parent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
button{
    height: 100px;
    width: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: cornflowerblue;
    transition: background .4s;
    margin: 20px;
}
.waterLevel{
    background: white;
}



